<div class="filtering-block">
    <div class="sort">
        <span class="sort-block">Sorting by:</span>
        <button class="sort-btn" (click)="onDateChange()">date</button><span class="sort-span" *ngIf="sortOrderDate === true"> &uarr;</span><span class="sort-span" *ngIf="sortOrderDate === false"> &darr;</span>
        <button class="sort-btn" (click)="onViewsChange()">count of views </button><span class="sort-span" *ngIf="sortOrderViews === true"> &uarr;</span><span class="sort-span" *ngIf="sortOrderViews === false"> &darr;</span>
    </div>
    <div><label class="filter-label"> by word or sentence<input class="filter-input" #box type="text" (keyup)="onFilterChange(box.value)"></label></div>

</div>
