    <mat-toolbar color="#E5E5E5">
      <div class="login">
          <span class="login-name">Your Name</span>
          <img src="../../../../assets/login.png" alt="login">
      </div>
      <div class="header-search">
          <img src="../../../../assets/logo.png" alt="logo" class="header-logo">
        <form class="header-form">
              <input class="header-i" matInput placeholder="Kuji Podcast">
            <button mat-button class="header-s" (click)="onSubmit($event)">search</button>
          </form>
          <button mat-button class="header-btn" (click)="onFilterClicked()"></button>
      </div>
    </mat-toolbar>
    


  