    <mat-toolbar color="#E5E5E5">
      <div class="login">
          <span *ngIf="(loginService.isUserLoggedIn$ | async) === false" class="login-name">Log in</span>
          <img *ngIf="(loginService.isUserLoggedIn$ | async) === false" src="../../../../assets/login.png" alt="login">
          <span *ngIf="loginService.isUserLoggedIn$ | async" class="login-name">Log out</span>
          <img *ngIf="loginService.isUserLoggedIn$ | async" src="../../../../assets/logout.png" class="header-logout" alt="logout" (click)="onLogout()">
      </div>
      <div class="header-search">
          <img src="../../../../assets/logo.png" alt="logo" class="header-logo">
        <form class="header-form">
              <input (keyup)="onKeyUp($event)" class="header-i" matInput placeholder="Kuji Podcast">
          </form>
          <button mat-button class="header-btn" (click)="onFilterClicked()" *ngIf="loginService.isUserLoggedIn$ | async"></button>
      </div>
    </mat-toolbar>